*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* убираем синий цвет у ссылки */
  text-decoration: none;
}

img {
  width: 100%;
}
